:root{
/* Color Theme Swatches in Hex */
--hex1: #D9D9D9;
--hex2: #A6A6A6;
--hex3: #595959;
--hex4: #262626;
--hex5: #0D0D0D;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(166,166,166,1) 0%, rgba(217,217,217,1) 15%, rgba(217,217,217,1) 85%, rgba(166,166,166,1) 100%);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    width: 100vw;
    height: 60px;
    line-height: 60px;
    background-color: #0D0D0D;
}

header h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 36px;
    padding-right: 10px;
}
header h1 a {
    text-decoration: none;
    color: #0D0D0D;
}
header h1 a,
header h1 a::before,
header h1 a::after {
    transition: all .75s;
}
header h1 a:hover {
    color: rgba(127, 255, 212, 0.244);
}

section {
    display: flex;
    flex-direction: row;
}

section h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: end;
    color: #262626;
    padding-right: 20px;
}

footer {
    height: 115px;
    background-color: #0D0D0D;
}

footer h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: end;
    color: #595959;
    padding-right: 20px;
}

img {
    width: 100%;
}


nav a {
    color: #595959;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

#navigationLinks {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#navigationLinks ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-right: 100px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    text-underline-offset: .5em;
}
#navigationLinks li {
    padding: 0 20px;
}

#navigationLinks li a,
#navigationLinks li a:after,
#navigationLinks li a:before {
    transition: all .5s;
}
#navigationLinks li a:hover {
    color: rgba(127, 255, 212, 0.635);
}



#aboutMePara {
    position: relative;
    left: 0px;
    max-width: 1200px;
    height: fit-content;
}

#aboutMePara p {
    font-family: 'Dosis', sans-serif;
    color: #0D0D0D;
    font-size: 22px;
    text-align: justify;
    padding: 20px 20px;
}

#profilePic {
    max-width: 118px;
    height: 100%;
    background-color: #595959;
    border: 5px solid #595959;
}

#contactLinks {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end; 
}
#contactLinks ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    text-underline-offset: .5em;
}
#contactLinks li {
    padding: 0 20px;

}
#contactLinks li a,
#contactLinks li a:after,
#contactLinks li a:before {
    transition: all .5s;
}
#contactLinks li a:hover {
    color: rgba(127, 255, 212, 0.635);
}

#contactFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#headingsContact {
    position: static;
    max-width: 350px;
    min-width: 350px;
    height: auto;
    border-right: 4px solid #595959;
    padding: 20px 20px 0px 0px;
}

.headings {
    position: static;
    max-width: 350px;
    min-width: 350px;
    height: auto;
    border-right: 4px solid #262626;
    padding: 20px 20px 0px 0px;
}

#nameHeading {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #595959;
}

.subtitle {
    position: relative;
}

.subtitle img {
    height: 140px;
    width: 100%;
}
  
.text-block {
    font-family: 'Dosis', sans-serif;
    position: absolute;
    bottom: 50px;
    right: 100px;
    background-color: rgba(13, 13, 13, 0.55);
    color: rgba(217, 217, 217, 0.75);
    padding: 8px
}

.custom-modal {
    background: linear-gradient(90deg, rgba(166,166,166,1) 0%, rgba(217,217,217,1) 15%, rgba(217,217,217,1) 85%, rgba(166,166,166,1) 100%);
    font-family: 'Raleway', sans-serif;
}

.contactCard input {
    margin: 15px 0px;
}

.btn-dark {
    width: 100%;
}

.gitRepo {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 40px;
    position: absolute;
    background-color: rgba(217, 217, 217, 0.9);
    height: 80px;
    line-height: 80px;
    width: fit-content;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    text-underline-offset: .25em;
}

.grid {
    margin: auto;
    max-width: 1200px;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

#gridImages {
    position: relative;
    left: 0px;
    width: fit-content;
    height: auto;
    max-width: 1200px;
}

#image1a {
    display: none;
    background-color: #595959;
    border: 5px solid #A6A6A6;
    width: 100%;
    height: fit-content;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

#image1b {
    display: block;
    background-color: #595959;
    border: 5px solid #A6A6A6;
    width: 100%;
    height: fit-content;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

#image2a {
    display: none;
    background-color: whitesmoke;
    border: 5px solid #A6A6A6;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

#image2b {
    display: block;
    background-color: whitesmoke;
    border: 5px solid #A6A6A6;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

#image3a {
    display: none;
    background-color: white;
    border: 5px solid #A6A6A6;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

#image3b {
    display: block;
    background-color: white;
    border: 5px solid #A6A6A6;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

#image4a {
    display: none;
    background-color: #595959;
    border: 5px solid #A6A6A6;
    width: 100%;
    height: fit-content;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

#image4b {
    display: block;
    background-color: #595959;
    border: 5px solid #A6A6A6;
    width: 100%;
    height: fit-content;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

#image5a {
    display: none;
    background-color: #595959;
    border: 5px solid #A6A6A6;
    width: 100%;
    height: fit-content;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}

#image5b {
    display: block;
    background-color: #595959;
    border: 5px solid #A6A6A6;
    width: 100%;
    height: fit-content;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}

.contactMe nav a {
        margin: 0 auto;
        font-size: 20px;
        font-family: 'Oxygen', sans-serif;
        color: #595959;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-color: #343C4A;
        text-decoration-thickness: 3px;
        text-underline-offset: .5em;
}

@media screen and (max-width: 1280px) {
    section {
        flex-direction: column;
    }

    header {
        height: fit-content;
    }

    footer {
        height: fit-content;
    }

    header h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 100px;
        padding: 0px 10px;
    }

    #contactFooter {
        flex-direction: column;
        align-items: flex-start;
    }

    .subtitle img {
        height: 120px;
    }

    .grid {
        padding: 20px 0px 20px 0px;
    }

    .headings 
    {
        position: static;
        width: 400px;
        height: auto;
        border-right: none;
        border-bottom: 4px solid #262626;
        padding: 0px 0px 20px 20px;
    }    

    #headingsContact {
        position: static;
        width: 400px;
        height: auto;
        border-right: none;
        border-bottom: 4px solid #595959;
        padding: 0px 0px 20px 20px;
    }

    #contactLinks {
        position: static;
        height: auto;
        padding-top: 20px;
    }

    #gridImages {
        position: static;
        padding: 0px 50px;
        width: fit-content;
        height: auto;
        
    }

    .aboutMe {
        display: flex;
        flex-direction: row;
        position: static;
        width: fit-content;
        height: auto;
    }
}

@media screen and (max-width: 1010px) {

    header h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 600px) {
    footer h1 {
        text-align: center;
    }

    #nameHeading {
        min-width: 200px;
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #595959;
    }
    #headingsContact {
        min-width: 100%;
    }
    #contactLinks {
        justify-content: center;
        align-items: center; 
    }
    
    #contactLinks ul {
        flex-direction: column;
        height: fit-content;
        align-items: center;
    }

    #contactLinks li {
        padding: 20px 0px;   
    }

    #gridImages {
        padding: 0px 15px;
    }

    .text-block {
        right: 0px;
    }

    .headings {
        min-width: 100%;
        border-right: none;
        border-bottom: 4px solid #262626;
        padding: 20px 0px;
    }

    .headings h1 {
        text-align: center;
    }

    #navigationLinks ul {
        padding-right: 0px;
    }

    #navigationLinks ul li {
        padding: 10px;
    }
    
}

@media screen and (max-width: 530px) {
    header {
        flex-direction: column;
    }

    #nameHeading {
        width: 100%;
        justify-content: center;
    }

    #navigationLinks {
        justify-content: center;
    }
    
}

@media screen and (max-width: 400px) {  
    .subtitle img {
        height: 60px;
        padding-bottom: 0px;
    }
      
    .text-block {
        font-size: 12px;
        bottom: 10px;
        right: 0px;
    }
}